/* BUTTONS */
.button,
a.button:visited,
.toggle input + * {
  user-select: none;
  border: none;
  box-sizing: content-box;
  display: inline-block;
  font-size: $button-font-size;
  height: $button-height;
  line-height: $button-height;
  text-decoration: $button-text-decoration;
  vertical-align: middle;
  background: $button-background;
  color: $button-color;
  border-radius: $button-border-radius;
  cursor: $button-cursor;
  margin: $button-margin;
  padding: $button-padding;
  transition: $button-transition;
  box-shadow: $button-box-shadow;
}

/* Interactivity */
.button:hover,
.button:focus,
.toggle:hover input + *,
.toggle input:focus + * {
  box-shadow: $button-hover-box-shadow;
  color: $button-hover-color;
}

.button:active,
.toggle input:active + *,
.toggle input:checked + * {
  box-shadow: $button-active-box-shadow;
}

/* Toggle button */
.toggle input {
  opacity: 0;
  z-index: -10;
  position: absolute;
}

/* Colors */
.button.success,
.button.success:visited,
.toggle.success input + * {
  background: $button-success-background;
}

.button.warning,
a.button.warning:visited,
.toggle.warning input + * {
  background: $button-warning-background;
}

.button.error,
a.button.error:visited,
.toggle.error input + * {
  background: $button-error-background;
}

.button.dull,
a.button.dull:visited,
.toggle.dull input + * {
  background: $button-dull-background;
}

/* This allows for the invasiveness (default styling) */
@if $invasive == true {
  button,
  input[type='submit'],
  input[type='button'],
  input[type='image'],
  input[type='reset'] {
    @extend .button;
  }
}
