.checkbox {
  position: relative;
  display: inline-block;
  margin: $input-margin;
  outline: 0px none;
  vertical-align: middle;
  cursor: pointer;

  input {
    opacity: 0;
    position: absolute;

    + *:before {
      content: '\2714';           /* Tick */
      display: inline-block;
      font-size: $checkbox-font-size;
      width: 1em;
      height: 1em;
      line-height: 1.1em;
      margin: $checkbox-margin;
      color: transparent;
      background: $checkbox-background;
      border-color: $checkbox-border-color;
      border-style: $checkbox-border-style;
      border-width: $checkbox-border-width;
      border-radius: $checkbox-border-radius;
      text-align: center;
      vertical-align: middle;
    }

    &:focus + *:before, &:hover + *:before {
      border-color: $checkbox-focus-border-color;
    }

    &:checked + *:before {
      color: $checkbox-color;
    }
  }
}
