/* Browser treats unknow type as "text", so we'll do the same */
input, textarea {
  background: $input-background;
  color: $input-color;
  line-height: $input-line-height;
  margin: $input-margin;
  padding: $input-padding;
  border-style: $input-border-style;
  border-width: $input-border-width;
  border-color: $input-border-color;
  border-radius: $input-border-radius;
  transition: $input-transition;
}

input[type=file],
input[type=color] {
  cursor: pointer;
}

input:focus, textarea:focus,
input[type=file]:hover,
input[type=color]:hover,
input:invalid:focus,
.select select:focus,
.select:hover {
  border-color: $input-focus-border-color;
  border-width: $input-focus-border-width;
  padding: $input-focus-padding;

  @if $deep == true {
    box-shadow: .1em .1em 0 $dark-overlay;
  }
}

/* Validation */
input:invalid, textarea:invalid {
  border-color: $input-invalid-border-color;
  box-shadow: none;
}

input:focus:invalid, textarea:focus:invalid {
  border-color: $input-invalid-focus-border-color;
}

/* Reset the style for those that we actually know */
input[type=radio]:focus,
input[type=checkbox]:focus {
  box-shadow: none;
  border-color: initial;
}
