nav {
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  background: $nav-background;
  box-shadow: $nav-box-shadow;
  z-index: $nav-z-index;
  transition: $nav-transition;

  a, a:visited {
    color: $nav-link-color;
    display: inline-block;
    font-size: $nav-link-font-size;
    height: 2em;
    line-height: 2em;
    padding: $nav-link-padding;
  }

  a:hover {
    color: $nav-link-hover-color;
    box-shadow: $nav-link-hover-box-shadow;
  }

  .main, .menu { margin: 0 .5em; }

  .main {
    font-weight: 700;
    float: left;
    max-width: 50%;
    white-space: nowrap;

    img { height: 2em; }
  }

  .menu { float: right; }
}

.burgercheck, .burgermenu {
  display: none;
  cursor: pointer;
}

.burgermenu {
  color: $burger-color;
  display: inline-block;
  position: relative;
  height: $burger-height;
  width: $burger-width;
  margin: $burger-margin;
  display: none;
}

.burgermenu:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background: black;
  box-shadow: 0 11px 0 0 black, 0 22px 0 0 black;
  display: none;
}

@media all and (max-width: $tablet-width) {
  [class*='icon-']:before {
    display: inline-block;
  }

  .burgercheck {
    & ~ label {
      position: fixed;
      top: 0;
      right: 0;
      display: inline-block;
      font-size: 2em;
      line-height: 1.5em;
      padding-right: .5em;
      text-align: right;
      transition: $transition-slow;
      /* Avoid the burger menu to display while hiding */
      transition: display 0s ease .3s;
      &:before {
        display: block;
      }
    }

    &:checked ~ label {
      margin: 0;
      right: 70%;
      width: 30%;
      height: 100%;
      transition: $transition-slow;
      background: rgba(255,255,255,.7);

      &:before {
        display: none;
      }
    }

    &:checked ~ .menu {
      right: 0;
    }
  }

  nav .menu {
    position: fixed;
    width: $nav-width;
    height: 100%;
    right: -$nav-width;
    top: 0;
    margin-right: 0;
    background: $nav-background;
    box-shadow: $nav-box-shadow;
    overflow: auto;
    transition: $transition-slow;

    a:not(.button) {
      display: block;
      text-align: left;
    }
  }
}
