.radio {
  position: relative;
  display: inline-block;
  margin: $input-margin;
  outline: 0px none;
  vertical-align: middle;
  cursor: pointer;

  input {
    opacity: 0;
    position: absolute;

    + *:before {
      content: '';
      display: inline-block;
      font-size: $radio-font-size;
      width: 1em;
      height: 1em;
      line-height: 1em;
      margin: $radio-margin;
      color: transparent;
      background: $radio-background;
      border: $radio-border;
      border-radius: $radio-border-radius;
      box-shadow: inset 0 0 0 $radio-body-weight $radio-background;
      vertical-align: middle;
    }

    &:focus + *:before, &:hover + *:before {
      border-color: $radio-focus-border-color;
    }

    &:checked + *:before {
      background: $radio-color;
    }
  }
}
