.select {
  position: relative;
  display: inline-block;
  border-color: $select-border-color;
  border-style: $select-border-style;
  border-width: $select-border-width;
  border-radius: $select-border-radius;
  margin: $select-margin;
  font-size: $select-font-size;
  min-width: 50px;

  &:before {
    color: $select-arrow-color;
    background: $select-background;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1.5em;
    pointer-events: none;
    border-radius: $select-border-radius;
  }

  &:after {
    color: $select-arrow-color;
    background: $select-background;
    content: '\25BC';
    display: block;
    position: absolute;
    right: 0;
    top: 26%;
    width: 2em;
    pointer-events: none;
    font-size: 0.8em;
    text-align: center;
    border-radius: $select-border-radius;
  }

  select {
    padding: $select-padding .4em $select-padding $select-padding;
    margin-right: 1em;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: $select-border-radius;
    cursor: pointer;
    font-size: $select-font-size;
    width: 100%;

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $black;
    }

    option {
      padding: .2em .5em;
    }
  }

  &:hover {
    border-color: $select-focus-border-color;
    border-width: $select-focus-border-width;
    select {
      padding: $select-focus-padding .4em $select-focus-padding $select-focus-padding;
    }
  }
}
