.select {
  position: relative;
  display: inline-block;
  border: $select-border;
  border-radius: $select-border-radius;
  margin: $select-margin;

  &:after {
    color: $select-arrow-color;
    padding: $select-padding 0 0 0;
    background: $select-background;
    content: '\25BC';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1.5em;
    pointer-events: none;
    font-size: .8em;
    line-height: 2.3em;
    border-radius: $select-border-radius;
  }

  select {
    padding: $select-padding 1.5em $select-padding $select-padding;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: $select-border-radius;
    cursor: pointer;
    font-size: $select-font-size;
    min-width: 50px;

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $black;
    }

    option {
      padding: .2em .5em;
    }
  }
}
