table {
  text-align: $table-text-align;
}

td, th {
  padding: $table-padding;
}

th {
  font-weight: $table-head-font-weight;
  color: $table-head-color;
  background-color: $table-head-background;
}

.success th {
  background-color: $success;
}

.warning th {
  background-color: $warning;
}

.error th {
  background-color: $error;
}

.dull th {
  background-color: $dull;
}

tr:nth-child(even) {
  background: $table-even-background;
}
