// Style by default the <button>, <input type="submit">, etc?
// Not fully implemented
$invasive: true !default;

// Make buttons and other things slightly 3d
$deep: true !default;

// Media query breakpoints
$tablet-width: 750px !default;
$laptop-width: 1200px !default;

// Colors
$aqua:    #7FDBFF;
$blue:    #0074D9;
$navy:    #001F3F;
$teal:    #39CCCC;
$green:   #2ECC40;
$olive:   #3D9970;
$lime:    #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:   #fff;
$silver:  #ddd;
$gray:    #aaa;
$black:   #111;

$primary:       $blue !default;
$success:       $green !default;
$warning:       $orange !default;
$error:         $red !default;
$dull:          $gray !default;
$dark-overlay:  rgba(0, 0, 0, .3);

/* Define the transitions */
$transition-fast: all .1s ease;
$transition-slow: all .3s ease;

/* Default element styles */
$inputs-border-radius:  .2em !default;
$inputs-margin:         .3em !default;
$inputs-padding:        .3em !default;
$inputs-line-height:    1.5em !default;
$inputs-border-color:   $dull !default;
$inputs-border-weight:  1px !default;
$inputs-border:         $inputs-border-weight solid $inputs-border-color;

// Body
$body-color:        $black !default;
$body-background:   transparent !default;
$body-font-size:    1.1em !default;
$body-line-height:  1.2 !default;

// Nav
$nav-background:            $white !default;
$nav-box-shadow:            0 0 .6em $dark-overlay !default;
$nav-link-color:            $black !default;
$nav-link-font-size:        1em !default;
$nav-link-hover-box-shadow: inset 0 -.2em 0 aqua !default;
$nav-link-hover-color:      $black !default;
$nav-link-padding:          .5em .6em !default;
$nav-transition:            $transition-slow !default;
$nav-width:                 70% !default;
$nav-z-index:               10 !default;

$burger-color:  $black !default;
$burger-height: .8em !default;
$burger-margin: .35em !default;
$burger-width:  .3em !default;

// Link
$link-color:           $primary !default;
$link-text-decoration: none !default;

// Button
$button-font-size:          1em !default;
$button-height:             $inputs-line-height !default;
$button-text-decoration:    none !default;
$button-background:         $primary !default;
$button-color:              $white !default;
$button-border-radius:      $inputs-border-radius !default;
$button-cursor:             pointer !default;
$button-margin:             $inputs-margin !default;
$button-padding:            $inputs-padding $inputs-padding * 3 !default;
$button-transition:         $transition-fast !default;
$button-3d-padding:         $inputs-padding $inputs-padding * 3 $inputs-padding + .2em !default;
$button-3d-focus-padding:   $inputs-padding $inputs-padding * 3 $inputs-padding + .1em !default;
$button-3d-shadow-color:    rgba(0, 0, 0, .1) !default;
$button-3d-active-padding:  $inputs-padding $inputs-padding * 3 !default;
$button-success-background: $success;
$button-warning-background: $warning;
$button-error-background:   $error;
$button-dull-background:    $dull;

// Input
$input-background:                  $white !default;
$input-border-color:                $inputs-border-color !default;
$input-border-radius:               $inputs-border-radius !default;
$input-border-weight:               $inputs-border-weight !default;
$input-border:                      $input-border-weight solid $input-border-color !default;
$input-color:                       $black !default;
$input-focus-border-color:          $aqua !default;
$input-invalid-border-color:        $warning !default;
$input-invalid-focus-border-color:  $error !default;
$input-line-height:                 $inputs-line-height !default;
$input-margin:                      $inputs-margin !default;
$input-padding:                     $inputs-padding !default;
$input-transition:                  border-color .3s !default;

// Select
$select-arrow-color:   $black !default;
$select-background:    $white !default;
$select-border-color:  $inputs-border-color !default;
$select-border-radius: $inputs-border-radius !default;
$select-border-weight: $inputs-border-weight !default;
$select-border:        $select-border-weight solid $select-border-color !default;
$select-color:         $black !default;
$select-font-size:     16px !default;
$select-margin:        $inputs-margin !default;
$select-padding:       $inputs-padding !default;

// Checkbox
$checkbox-background:         $white !default;
$checkbox-font-size:          .8em !default;
$checkbox-border-color:       $inputs-border-color !default;
$checkbox-border-radius:      $inputs-border-radius !default;
$checkbox-border-weight:      $inputs-border-weight !default;
$checkbox-border:             $checkbox-border-weight solid $checkbox-border-color !default;
$checkbox-color:              $black;
$checkbox-focus-border-color: $aqua !default;
$checkbox-margin:             0 $inputs-margin * 2 0 0 !default;

// Radio
$radio-background:         $white !default;
$radio-font-size:          .8em !default;
$radio-border-color:       $inputs-border-color !default;
$radio-border-radius:      50% !default;
$radio-border-weight:      $inputs-border-weight !default;
$radio-border:             $checkbox-border-weight solid $checkbox-border-color !default;
$radio-color:              $black !default;
$radio-body-weight:        3px !default;
$radio-focus-border-color: $aqua !default;
$radio-margin:             0 $inputs-margin * 2 0 0 !default;

// Table
$table-text-align:       left !default;
$table-padding:          $inputs-padding 2.4em $inputs-padding $inputs-padding * 2 !default;
$table-head-font-weight: bold !default;
$table-head-color:       $white !default;
$table-head-background:  $primary !default;
$table-even-background:  rgba(0, 0, 0, .1) !default;
